<div class="starter-template">
    {% for post in posts %}
    <div class="blog-post">
        <h3 class="blog-post-title"><a href="{{ url_for('main.category', category=post.category.name) }}">{{ post.category.name }}</a></h3>
        <!--<div class="post-date">{{ moment(post.create_time).format('YYYY-M-D H:m') }}</div>-->
        <div class="post-info">
            <a href="{{ url_for('.user', username=post.author.username) }}"> {{ post.author.username }}
            </a>
            <a href="{{ url_for('.post', id=post.id) }}#comments">
                <span class="label label-primary">
                {{ post.comments.count() }} 评论
                </span>
            </a>
        </div>
        <a href="{{ url_for('.post', id=post.id) }}"><img class="img-responsive" src="{{ url_for('static', filename=post.thumbnail) }}"/></a>
    </div>
    {% endfor %}
</div>
